.container{
    border: 1px solid black;
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    grid-template-rows: 100px 300px 70px ;
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
    grid-template-areas: "a a a a a "  
                         "b c c c d "
                         "b c c c d "
                         "b c c c d "
                         
    
}
.container *{

    border: 1px dashed green;
    border-radius: 10px;
    background-color: pink;
    
    
    }

.block-1{grid-area: a;}
.block-2{grid-area: b;}
.block-3{grid-area: c;}
.block-4{grid-area: d;}